* {
    box-sizing: border-box;
}

body {
    margin: 0 ;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
}

aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #335384;
}

.sidebar {
    color: white;
}

.sidebar h4 {
    margin-left: 10px;
}

.frame {
    display: flex;
    flex-direction: column;
}

.frame > * {
    display: flex;
    align-items: center;
    height: 25px;
    width: 100%;
    margin: 5px;
}

.frame span {
    margin: 5px;
}

.frame img {
    height: 30px;
    width: 30px;
}

.frame p{
    display: flex;
}

a {
    color: white;
    text-decoration: none;
    display: flex;
}

a:hover {
    color: greenyellow;
}

.photo {
    width: 180px;
    height: 180px;
    background: url("images/photo.jpg");
    background-size: cover;
    border-radius: 50%;
}

main {
    width: 70%;
    padding: 20px ;
}

h1 {
    font-size: xxx-large;
    color: #335384;
}

h2, h3{
    color: #69c8f1;
}

footer {
    color: dimgray;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column-reverse;
    }
    aside, main {
        width: 100%;
    }
    .photo {
        margin-top: 25px;
    }
}