body {
    margin: 0 ;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
}

aside {
    width: 30%;
    background-color: #335384;
}

main {
    width: 70%;
    margin: 20px ;
}

h1 {
    font-size: xxx-large;
    color: #335384;
}

h2 {
    color: #69c8f1;
}

h3 {
    color: #69c8f1;
}

footer {
    color: dimgray;
}